<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- DATATABLES -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="icon" type="icon/png" href="../../resources/img/logo/ico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftPaper</title>
</head>

<body class="perfil-usuario">
    <div class="wrapper">

        <!-- PANTALLA DE CARGA DE LA PAGINA  -->
        <div id="contenedor_carga">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <!-- INICIA NAVBAR DE LA PAGINA -->
        <header>
            <nav class="navbar navbar-expand-lg " id="navbar-dashboard">
                <div class="container">
                    <div class="nav-logo">
                        <a class="navbar-brand nav-item" href="dashboard.html">
                            <img src="../../resources/img/logo/logo_default.png" alt=""
                                class="d-inline-block align-text-top logo">
                        </a>
                    </div>
                    <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
                        type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon top-bar"></span>
                        <span class="toggler-icon middle-bar"></span>
                        <span class="toggler-icon bottom-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="active nav-item menu-item" type="button">

                                <a class="nav-link dropdown" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"> Inventario
                                </a>
                                <ul class="dropdown-menu dropdown-inventario slideInNav animate"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="productos.html">Productos</a></li>
                                    <li><a class="dropdown-item" href="categoria.html">Categoria</a></li>
                                    <li><a class="dropdown-item" href="subcategoria.html">Subcategorías</a></li>
                                    <li><a class="dropdown-item" href="marca_proveedor.html">Proveedores y
                                            marcas</a></li>
                                </ul>

                            </li>
                            <li class="active nav-item menu-item" type="button">

                                <a class="nav-link dropdown" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"> Facturación
                                </a>
                                <ul class="dropdown-menu dropdown-inventario slideInNav animate"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="venta.html">Ventas</a></li>
                                    <li><a class="dropdown-item" href="tipos.html">Tipo factura y venta</a></li>
                                </ul>

                            </li>
                            <li class="active nav-item menu-item" type="button">

                                <a class="nav-link dropdown" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"> Usuarios
                                </a>
                                <ul class="dropdown-menu dropdown-inventario slideInNav animate"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="clientes.html">Clientes</a></li>
                                    <li><a class="dropdown-item" href="empleados.html">Empleados</a></li>
                                </ul>

                            </li>
                            <li class="active nav-item menu-item" type="button">

                                <a class="nav-link dropdown" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"> Catálogos
                                </a>
                                <ul class="dropdown-menu dropdown-inventario slideInNav animate"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="estados.html">Estado de producto y venta</a></li>
                                    <li><a class="dropdown-item" href="subcategoria.html">Departamentos y municipios</a>
                                    </li>
                                     
                                    <li><a class="dropdown-item" href="color.html">Colores</a></li>
                                </ul>

                            </li>
                        </ul>
                        <div class="nav-options d-flex">
                            <a href="" class="nav-item"><i class="bi bi-search" type="button"></i></a>

                            <li class="active nav-item menu-item" type="button">

                                <a class="nav-link dropdown" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../../api/images/avatares/a2.png" alt=""
                                        class="d-inline-block align-text-top user">
                                </a>
                                <ul class="dropdown-menu slideInNav1 slideInNav  animate"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="perfil_usuario.html">Ir a perfil</a></li>
                                    <li><a class="dropdown-item" href="index.html">Cerrar sesión</a></li>
                                </ul>

                            </li>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- FIN NAVBAR DE LA PAGINA -->

        <main class="container-xxl">
            <div class="header-content my-5">
                <h1>Perfil Usuario</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="dashboard.html">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="perfil_usuario.html">Perfil Usuario</a></li>
                    </ol>
                </nav>
            </div>

            <!-- AVATAR -->
            <div class="content content-perfil">
                <div class="container content-card">
                    <div class="row">
                        <div class="col p-4">
                            <div class="row mt-5 ms-3">
                                <div class="col col-12 col-xl-3 col-avatar"><img class="avatar"
                                        src="../../api/images/avatares/a2.png" alt=""></div>
                                <div class="col col-12 col-xl-9">
                                    <h2>Carla Santana</h2>
                                    <div class="row">
                                        <div class="col d-flex align-items-center justify-content-start">
                                            <img class="d-blockimg" src="../../resources/img/perfil/user.png" alt="">
                                            <div class="e-texto ms-3">Empleado</div>
                                        </div>
                                        <div class="col d-flex align-items-center justify-content-start">
                                            <img class="d-blockimg" src="../../resources/img/perfil/information.png"
                                                alt="">
                                            <div class="e-texto ms-3">Activo</div>
                                        </div>
                                        <div class="col d-flex align-items-center justify-content-start">
                                            <img class="d-blockimg" src="../../resources/img/perfil/email.png" alt="">
                                            <div class="e-texto ms-3">Carla@gmail</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="row d-flex justify-content-between mt-5">
                                        <div class="col d-flex align-items-center">
                                            <h3 class="fw-bolder m-0 p-0">Detalles del Perfil</h3>

                                        </div>
                                        <div class="col d-flex justify-content-end align-items-center">
                                            <a class="btn-editar btn-main" href="editar_perfil.html">Editar Perfil</a>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <table>
                                        <div class="sept">
                                            <tr>
                                                <td class=" move text1">Nombre</td>
                                                <td class="text2 ">Carla</td>
                                                <td class="text1">Cargo</td>
                                                <td class="text2">Empleada</td>
                                            </tr>
                                            <tr>
                                                <td class=" move text1">Apellido</td>
                                                <td class="text2 ">Santana</td>
                                                <td class="text1">Estado</td>
                                                <td class="text2">Activo</td>
                                            </tr>
                                            <tr>
                                                <td class=" move text1">Alias</td>
                                                <td class="text2">Carlita</td>
                                                <td class="text1">Contraseña</td>
                                                <td class="text2 ">********</td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- INFORMACION USUARIO PRINCIPAL FIN-->

                    <!-- DETALLES DEL PERFIL-->


                </div>

            </div>
            <!-- DETALLES DEL PERFIL FIN-->
        </main>
        <footer class='footerSP'>
            <div class="section">
                <div class="row justify-content-center">
                    <div class="col-12 text-center pt-3">
                        <p class="footerH6">© SoftPaper. 2022 Derechos Reservados.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../../controllers/private/dashboard.js"></script>
    <script src="../../controllers/private/charge.js"></script>
</body>

</html>